.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 10px;
    width: 100%;
    height: 70px;

    

    &__logoBox{
        display: flex;
        align-items: center;
        justify-content: center;

        height: 100%;
        text-decoration-line: none;
        
        outline: none;
        cursor: pointer;


        &__logo {
            height: 65%;
           
        }
        &__title {
            font-size: 24px;
            font-weight: 600;
            color: $color-black-900;
        }
    }

    &__profileBox {
         display: flex;
         justify-content: space-between;
         width: 25%;
         height: 100%;
         margin: 10% 5%;
         
         

         &__button {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration-line: none;
            outline: none;
            cursor: pointer;
            color: $color-black-900;
            font-weight: 600;
            
            width: 100%;
            padding: 6px 10px;
            margin: 5px 5px;
          
            background-color: $color-white-000;
            
            &:hover{
                
                color: $color-gray-400;
            }
         }
         
    }
}