$SEARCHBAR-HEIGHT:40px;
$HEADER-HEIGHT: 70px;
$FOOTER-HEIGHT: 50px;
$NAVIGATION-HEIGHT: 50px;

.page {
    display: flex;
    flex-direction: column;
   

    width: 100%;
    height: 100vh;

    &__contents {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        width: 100%;
        height: calc(100% - $SEARCHBAR-HEIGHT - $HEADER-HEIGHT - $NAVIGATION-HEIGHT - $FOOTER-HEIGHT);

        &__introBox {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 100%;
            height: 40%;
            
            background-image: url('/src/assets/images/Banner.jpg');
            background-size: cover;
            background-position: 100% 70%;

            .wrapper {
                display: flex;
                flex-direction: column;

               
                &__desc {
                    color: $color-gray-900;
                    margin-bottom: 32px;
                }
            }
        }
        &__board {
            display: flex;
            
            width: 100%;
            height: 70%;
            flex-wrap: wrap;

            padding: 16px 60px;

            gap: 16px;

            overflow-y: scroll;

            .board {
               width: 100%; 

               &__title {
               
                color: $color-gray-900; 
                font-size: 1.2rem;
                font-weight: 700;
                }
                &__contents {
            
                    color: $color-gray-900; 
                    
                    font-weight: 700;
                }
            }
        }
        
    }
}